<% include partials/header.ejs %>
    <!-- CODE FROM HERE -->
    <script>
        function toDo() {
            window.location.href = "/info/zone/<%= zoneInfo.ZoneID%>"
        }
    </script>
    <button id="btn2" onclick="window.location.reload()">Refresh</button>
    <button id="btn2" onclick="toDo()">Back</button>
    <h1>Zone
        <%= zoneInfo.ZoneID%> - Daily Prediction for:
            <%= list[0].date%>
    </h1>
    <h2> Latitude
        <%= zoneInfo.ZoneLatitude%>
            Longitude
            <%= zoneInfo.ZoneLongitude%>
    </h2>
    <div class="grid-container">
        <div class="itemtable" style="height: 240px; overflow: auto; width: auto;">
            <table>
                <tr>
                    <td style="font-size: 150%;"><strong>Time</strong></td>
                    <td style="font-size: 150%;"><strong>Date</strong></td>
                    <td style="font-size: 150%;"><strong>NO2 (ppm)</strong></td>
                    <td style="font-size: 150%;"><strong>CO (ppm)</strong></td>
                    <td style="font-size: 150%;"><strong>CO2 (ppm)</strong></td>
                    <td style="font-size: 150%;"><strong>TVOC (ppb)</strong></td>
                </tr>
                <% for(var i=0; i<list.length; i++) {%>
                    <tr>
                        <td id="time<%=i%>">
                            <%= list[i].time%>
                        </td>
                        <td id="date<%=i%>">
                            <%= list[i].date%>
                        </td>
                        <td id="no<%=i%>">
                            <%= list[i].NO2%>
                        </td>
                        <td id="co<%=i%>">
                            <%= list[i].CO%>
                        </td>
                        <td id="eco<%=i%>">
                            <%= list[i].CO2%>
                        </td>
                        <td id="tvoc<%=i%>">
                            <%= list[i].TVOC%>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <div class="itemchart" id="chart" style="width: auto; height: auto;"></div>
        <div class="itemmap" id="map" style="width: auto; height: 380px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    <script>
        function initMap() {
            var lat = parseFloat(<%= zoneInfo.ZoneLatitude %>);
            var lng = parseFloat(<%= zoneInfo.ZoneLongitude %>);

            var center = {
                lat: lat,
                lng: lng
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: center,
                mapTypeId: 'satellite'
            });

            var markerC = new google.maps.Marker({
                map: map,
                position: center,
                icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            })

            var infowindow = new google.maps.InfoWindow({
                content: "Zone " + <%= zoneInfo.ZoneID %>
            });

            google.maps.event.addListener(markerC, 'click', (function() {
                infowindow.open(map, markerC);
            }));

            markerC.setMap(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClIURvk2YvL89LjCcv2-HS9FQzvOLqBdM&callback=initMap">
    </script>
    <script type="text/javascript">
        /*google.charts.load('current', {
                                                                    packages: ['corechart']
                                                                });*/
        google.charts.load('current', {
            packages: ['line']
        });

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var total = <%= list.length %>;

            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'NO2');
            data.addColumn('number', 'CO');
            data.addColumn('number', 'CO2');
            data.addColumn('number', 'TVOC');

            for (var i = 0; i < 24; i++) {
                var no2 = parseInt(document.getElementById("no" + i).innerHTML);
                var co = parseInt(document.getElementById("co" + i).innerHTML);
                var co2 = parseInt(document.getElementById("eco" + i).innerHTML);
                var tvoc = parseInt(document.getElementById("tvoc" + i).innerHTML);

                var date = document.getElementById("date" + i).innerHTML;
                var time = document.getElementById("time" + i).innerHTML;

                var parsedDate = date.split("-")
                var parsedTime = time.split(":")

                var datetime = new Date(parseInt(parsedDate[0]), parseInt(parsedDate[1]) - 1, parseInt(parsedDate[2]), parseInt(parsedTime[0]), parseInt(parsedTime[1]), parseInt(parsedTime[2]), 00)

                data.addRow([datetime, no2, co, co2, tvoc]);
            };

            /*var options = {
                chartArea: {
                    left: 40,
                    width: '80%',
                    height: '80%'
                },
                legend: {
                    position: 'right'
                }
            }
            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(data, options);*/


            var options = {
                chartArea: {
                    left: 40,
                    width: '100%',
                    height: '100%'
                },
                width: '100%',
                legend: {
                    position: 'top',
                    textStyle: {
                        fontSize: 12
                    },
                },
                curveType: 'function',
                vAxes: {
                    0: {
                        logScale: false
                    },
                    1: {
                        logScale: false
                    }
                },
                series: {
                    0: {
                        targetAxisIndex: 0
                    },
                    1: {
                        targetAxisIndex: 0
                    },
                    2: {
                        targetAxisIndex: 1
                    },
                    3: {
                        targetAxisIndex: 1
                    },
                }
            };
            var chart = new google.charts.Line(document.getElementById('chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>

    <!-- CODE TILL HERE -->
    </div>
    </body>

    </html>