<% include partials/header.ejs %>
    <!-- CODE FROM HERE -->
    <form action="/info/station/<%= station.stationID %>/" method="post">
        <p><label for="station_name">Enter name: </label>
            <input id="station_name" type="text" name="stationName" value="<%= station.name %>"></p>
        <p><label for="sampleRate">Sample Rate (s):</label>
            <input id="sampleRate" type="number" name="sampleRate" value="<%= station.sampleRate %>"></p>
        <p><label for="state">State 0-1)</label>
            <input id="state" type="number" name="state" min="0" max="15" step="1" value="<%= station.state %>"></p>
        <input type="submit" value="Edit">
    </form>

    <form action="/info/station/<%= station.stationID %>/delete/" method="post">
        <input type="submit" value="Delete">
    </form>
    <!-- CODE TILL HERE -->
    </div>
    </body>

    </html>